<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag "eval_performance", method: "post", class: "form-horizontal" do %>
        <fieldset>
          <legend>Capacitor Parameters</legend>
          <div class="well">
            <div class="col-lg-2">
              <h4 class="list-group-item-heading">Response Time</h4>
              <div class="form-group">
                <div class="col-lg-12">
                  <%= label_tag(:sla, "SLA:", class: "control-label") %>
                  <%= text_field_tag(:sla, @sla, class: "form-control", placeholder: "1000 (ms)") %>
                </div>
              </div>
              <span class="help-block">The target value for the metric being assessed.</span>
            </div>
            <div class="col-lg-3">
              <h4 class="list-group-item-heading">Deployment Space Graph</h4>
              <div class="form-group">
                <div class="col-lg-12">
                  <%= label_tag(:graph_mode, "Traversal Mode:", class: "control-label") %>
                  <%= select_tag(:graph_mode, options_for_select([ :capacity, :cost ], @graph_mode), class: "form-control") %>
                </div>
              </div>
              <span class="help-block">Select how the deployment space will be represented: by capacity levels or by configuration prices.</span>
            </div>
            <!--<div class="col-lg-4">-->
              <!--<h4 class="list-group-item-heading">Performance</h4>-->
              <!--<div class="form-group">-->
                <!--<div class="col-lg-6">-->
                  <!--<%= label_tag(:cpu_limit, "Max. CPU: (%)") %>-->
                  <!--<%= text_field_tag(:cpu_limit, @cpu_limit, class: "form-control", placeholder: "75 (%)") %>-->
                <!--</div>-->
                <!--<div class="col-lg-6">-->
                  <!--<%= label_tag(:mem_limit, "Max. Memory: (%)") %>-->
                  <!--<%= text_field_tag(:mem_limit, @mem_limit, class: "form-control", placeholder: "80 (%)") %>-->
                <!--</div>-->
              <!--</div>-->
              <!--<span class="help-block">Acceptable usage for CPU and Memory.</span>-->
              <!--<div class="form-group">-->
                <!--<div class="col-lg-6">-->
                  <!--<%= label_tag(:low_deviation, "Low Deviation: (%)") %>-->
                  <!--<%= text_field_tag(:low_deviation, @low_deviation, class: "form-control", placeholder: "75 (%)") %>-->
                <!--</div>-->
                <!--<div class="col-lg-6">-->
                  <!--<%= label_tag(:medium_deviation, "Med. Deviation: (%)") %>-->
                  <!--<%= text_field_tag(:medium_deviation, @medium_deviation, class: "form-control", placeholder: "80 (%)") %>-->
                <!--</div>-->
              <!--</div>-->
              <!--<span class="help-block">Response times distance to SLA must fall below (+/-) Low Deviation. The further from it, the bigger the steps the Capacitor moves. Medium Deviation is an intermediate value. Above it, you can expect large hops in the search for Configurations.</span>-->
            <!--</div>-->
            <div class="col-lg-2">
              <div class="form-group">
                <h4 class="list-group-item-heading">Workloads</h4>
                <%= select_tag(:workloadlist, options_for_select([ 100,200,300,400,500,600,700,800,900,1000 ], 100), class: "form-control", multiple: true, size:10) %>
                <span class="help-block">Select the workloads you wish to apply over your application. Hold the 'Ctrl' key while you click to select multiple workload values.</span>
              </div>
            </div>
            <div class="col-lg-4">
              <h4 class="list-group-item-heading">Approach</h4>
              <div class="form-group">
                <div class="col-lg-6">
                  <%= label_tag(:workload_approach, "Workload:", class: "control-label") %>
                  <%= select_tag(:workload_approach, options_for_select([ :optimistic, :conservative, :pessimistic, :random ], @workload_approach), class: "form-control") %>
                </div>
                <div class="col-lg-6">
                  <%= label_tag(:configuration_approach, "Configuration:", class: "control-label") %>
                  <%= select_tag(:configuration_approach, options_for_select([ "optimistic", "conservative", "pessimistic", "random" ], @configuration_approach.to_s), class: "form-control") %>
                </div>
              </div>
              <span class="help-block">Select here the approach taken when navigating through the workloads and the deployment space.</span>
            </div>
            <div class="form-group">
              <div class="col-lg-4 col-lg-offset-8">
                <%= submit_tag("Execute", class: "btn btn-primary btn-lg btn-block") %>
              </div>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>