<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul id="resultsTab" class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#results" role="tab" data-toggle="tab">Results</a></li>
        <li><a href="#stats" role="tab" data-toggle="tab">Statistics</a></li>
        <li><a href="#trace" role="tab" data-toggle="tab">Full Trace</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="results">
          <div class="list-group">
            <div class="list-group-item">
              <h3 class="list-group-item-heading">Candidate configurations</h3>
              <p class="list-group-item-text">Based on response times and cost per user, the best configurations capable of handling the specified workload are shown below ordered by price per hour:</p>
              <div class="list-group">
                <% if @candidates.size > 0 %>
                  <% @candidates.keys.sort.each do |wkl| %>
                    <div class="list-group-item">
                      Workload <%= wkl %>:
                      <p>
                        <%= @candidates[wkl].sort {|x,y| x.price <=> y.price }.map {|c| c.fullname}.join(", ") %>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade in" id="stats">
          <div class="list-group">
            <div class="list-group-item">
              <h4 class="list-group-item-heading">
                <div class="row">
                  <div class="col-md-4">
                    <p class="list-group-item-text">Number of real executions: <%= @executions %></p>
                  </div>
                  <div class="col-md-4">
                    <p class="list-group-item-text">Execution total cost: <%= @cost.round(3) %></p>
                  </div>
                </div>
              </h4>
            </div>
            <div class="list-group-item">
              <h3 class="list-group-item-heading">Execution Trace</h3>
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th colspan="<%= @workloadlist.size - 1 %>">Workloads</th>
                  </tr>
                  <tr>
                    <th>Exec</th>
                    <% @workloadlist.each do |wkl| %>
                      <th><%= wkl %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="table-hover">
                  <% @trace.keys.each do |i| %>
                    <tr>
                      <td><%= i %></td>
                      <% @workloadlist.each do |wkl| %>
                        <% if @trace[i][:workload] == wkl%>
                          <td class=<%= @trace[i][:met_sla] ? "success" : "danger" %>>
                            <%= @trace[i][:config].fullname %>
                          </td>
                        <% else %>
                          <td></td>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>          
          </div>
        </div>
        <div class="tab-pane fade in" id="trace">
          <div class="list-group">
            <div class="list-group-item">
              <h3 class="list-group-item-heading">Full Execution Trace</h3>
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th colspan="<%= @workloadlist.size - 1 %>">Workloads</th>
                  </tr>
                  <tr>
                    <th>Configurations</th>
                    <% @workloadlist.each do |wkl| %>
                      <th><%= wkl %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody class="table-hover">
                  <% @configs.each do |cfg| %>
                    <tr>
                      <td><%= "#{cfg.fullname} (#{cfg.price})" %></td>
                      <% @workloadlist.each do |wkl| %>
                        <% if @full_trace[cfg.fullname][wkl] == {} %>
                          <td></td>
                        <% else %>
                          <td class=<%= @full_trace[cfg.fullname][wkl][:met_sla] ? "success" : "danger" %>>
                            <%= @full_trace[cfg.fullname][wkl][:execution] if @full_trace[cfg.fullname][wkl][:executed]%>
                          </td>
                        <% end %>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('#resultsTab a:first').tab('show')
  })
</script>
